@import '../../../theme/variables';

.icons {
  display: grid;
  gap: 5.6rem;
  grid-auto-rows: min-content;
  grid-template-columns: 1fr;
  padding: 8rem 3.2rem;

  @include for-phone-up {
    gap: 8rem;
    justify-items: center;
    margin: 0 auto;
    max-width: 50rem;
    padding: 12rem 0;
  }

  @include for-laptop-up {
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    max-width: 111rem;
    padding: 12rem 0;
  }

  &--multi {
    @include for-phone-up {
      gap: 7.2rem 1rem;
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
      max-width: 69rem;
      padding: 12rem 0;
    }

    @include for-laptop-up {
      gap: 10.4rem 3rem;
      grid-template-columns: repeat(3, 1fr);
      max-width: 111rem;
      padding: 12rem 0;
    }
  }
}