// colors
$mainAccent: linear-gradient(26.57deg, #FFC593 0.42%, #BC7198 43.46%, #5A77FF 83.33%);
$pureBlack: hsl(0, 0%, 0%);
$lightGrey: hsl(0, 0%, 87%);
$pureWhite: hsl(0, 0%, 100%);

// media queries
@mixin for-phone-up {
  @media screen and (min-width: 480px) { @content; }
}

@mixin for-small-tablet-up {
  @media screen and (min-width: 600px) { @content; }
}

@mixin for-tablet-up {
  @media screen and (min-width: 768px) { @content; }
}

@mixin for-laptop-up {
  @media screen and (min-width: 1032px) { @content; }
}

@mixin for-hover {
  @media (hover: hover) and (pointer: fine) { @content }
}

// typography
@mixin largeHeading {
  font-size: 3.2rem;
  font-weight: bold;
  /* or 125% */
  letter-spacing: 3.33333px;
  line-height: 4rem;
  text-transform: uppercase;

  @include for-phone-up {
    font-size: 4rem;
    letter-spacing: 4.16667px;
    line-height: 4.8rem;
  }

  @include for-laptop-up {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 4.16667px;
    line-height: 4.8rem;
    text-transform: uppercase;
  }
}

@mixin mediumHeading {
  font-size: 24px;
  font-weight: bold;
  line-height: 25px;
}

@mixin regularHeading {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}

@mixin smallHeading {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 16px;
  text-transform: uppercase;
}

@mixin body {
  font-size: 1.5rem;
  line-height: 2.5rem;
}