@import '../../../theme/variables';

.comparison {
  padding: 3.2rem 3rem 6.4rem;

  @include for-small-tablet-up {
    padding: 5.6rem 4rem 11.2rem;
  }

  &__wrapper {
    margin: 0 auto;

    @include for-laptop-up {
      align-items: center;
      display: flex;
      flex-direction: column;
      max-width: 111rem;
    }
  }

  &__title {
    @include largeHeading;
    color: $pureBlack;
    display: none;
    margin-bottom: 6.4rem;
    text-align: center;

    @include for-small-tablet-up {
      display: block;
    }
  }

  &__table {
    text-align: left;
    width: 100%;

    @include for-laptop-up {
      flex-basis: 66.6666666667%;
      max-width: 66.6666666667%;
    }
  }

  &__header {
    @include smallHeading;
    border-bottom: 1px solid $pureBlack;
    padding-bottom: 2.4rem;
    width: 100%;

    &--inner {
      border: none;
      padding-bottom: 1.6rem;

      @include for-small-tablet-up {
        align-self: center;
        padding-bottom: 0;
      }
    }

    &--head:nth-child(n + 2) {
      display: none;

      @include for-small-tablet-up {
        display: initial;
        max-width: 14rem;
        min-width: 14rem;
        text-align: center;
      }
    }
  }

  &__body {
    display: table;
    margin-top: 2.4rem;
    width: 100%;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;

    @include for-small-tablet-up {
      flex-wrap: nowrap;
    }

    &--inner {
      border-bottom: 1px solid $lightGrey;
      padding-bottom: 2.4rem;

      & + & {
        margin-top: 2.4rem;
      }
    }
  }

  &__cell {
    color: $pureBlack;
    width: 33.333333333%;

    @include for-small-tablet-up {
      max-width: 14rem;
      min-width: 10rem;
      width: 100%;
    }
  }

  &__column {
    @include for-small-tablet-up {
      display: flex;
      justify-content: center;
      text-align: center;
      width: 100%
    }
  }

  &__plan {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.3rem;
    opacity: .5;
    text-transform: uppercase;

    @include for-small-tablet-up {
      display: none;
    }
  }

  &__check {
    display: block;
    height: 16px;
    width: 16px;

    &--checked {
      background-image: url('../../../assets/pricing/desktop/check.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: 8px;

      @include for-small-tablet-up {
        margin-top: 0;
      }
    }
  }
}